<div bsModal #lgModal="bs-modal"  class="modal fade" role="dialog" aria-hidden="true" id="mdl">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Large modal</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <div> the stock name is {{stock.StockName}}</div>
        </button>
      </div>
      <div class="modal-body">
         <div> the stock name is {{stock.StockName}}</div>
      </div>
    </div>
  </div>
</div>

 <button type="button" class="btn btn-primary" (click)="selectRow(eachstock)" data-toggle="modal" data-target="#mdl">Buy</button>